* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --hard-color: /*rgb(133, 88, 111)*/#85586F/*115, 52, 57*/;
    --soft-color: rgb(248, 236, 209)/*#F8ECD1*/;
    --shadow-gral: -5px -5px 8px 5px rgba(127, 127, 127, .8);
    --shadow-btn: -3px -3px 9px 2px rgba(127, 127, 127, .8);
    --inputs: rgb(206, 212, 218);
    --height-extreme-components-sm: 8vh;
}

p,
h3 {
    font-size: 1rem;
}

header,
.main-title-section {
    /* height: var(--height-extreme-components-sm); */
}

header,
nav {
    background-color: var(--soft-color);
    /* z-index: 1; */
}

main {
    margin-bottom: calc(var(--height-extreme-components-sm) + 1rem);
}

.main-title-section,
.main-title-section>a,
footer {
    background-color: var(--hard-color);
    color: var(--soft-color);
    text-decoration: none;
}

nav img {
    min-width: 150px;
}

nav li {
    background-color: var(--soft-color) !important;
}

nav li:hover {
    font-weight: bold;
}

nav a {
    color: var(--hard-color) !important;
}

h1 {
    /* margin-bottom: 0%; */
    padding: 0%;
}

.categories>.checkboxes {
    flex-wrap: wrap;
}

.search-button {
    border: 1px solid var(--inputs);
}

form{
    position: relative;
    display: flex;
    width: 90%;
    /* justify-content: center;
    align-items: center; */
}

form>input{
    border:1px solid var(--hard-color)!important;
    border-radius: 5px;
}

form>input:focus{
    outline: 2px solid var(--hard-color);
}

.xButton{
    border: none;
    background-color: transparent;
    display: none;
    position: absolute;
    top: 10px;
    right: 30px;
    padding: 1px 1px;
    color: var(--hard-color)
}

.div-search>button:hover :not(.xButton){
    background-color: var(--soft-color) !important;
    border-color: var(--hard-color);
}

#modal{
    top:250px;
}

.modal-body>p{
    font-size: large;
}

.modal-footer{
    border: none;
}

.content-card-group {
    width: 20vw;
    max-width: 300px;
    margin-bottom: 1rem;
    background-color: #F8ECD1;
}

.figure-card {
    width: 90%;
    height: 200px;
    background-size: cover;
    background-position: center;
    box-shadow: var(--shadow-gral);
}

.figure-card1 {
    background-image: url(./assets/Cinema.jpg);
}

.figure-card2 {
    background-image: url(./assets/Costume_Party.jpg);
}

.figure-card3 {
    background-image: url(./assets/Food_fair.jpg);
}

.figure-card4 {
    background-image: url(./assets/Marathon.jpg);
}

.figure-card5 {
    background-image: url(./assets/Museum_Tour.jpg);
}

.figure-card6 {
    background-image: url(./assets/Music_Concert.jpg);
}

.content-card-group img {
    width: 90%;
}

.button-card-group>a,
input[type="submit"],
#m-button {
    background-color: var(--hard-color);
    color: var(--soft-color);
    width: 100px;
    box-shadow: var(--shadow-btn);
}

footer:not(.footer) {
    position: fixed;
}

footer:not(.footer) {
    left: 0;
    bottom: 0;
    width: 100%;
    /* height: var(--height-extreme-components-sm); */
}

.footer1{
    position: sticky!important;
}

.a-redes-logo {
    object-fit: contain;
}

.a-redes-logo,
.a-redes-logo>img {
    width: 40px;
    height: 40px;
}

footer>h6 {
    font-size: 1.5rem;
    font-weight: 600;
}

.contact-container-form,
.detail-container-form {
    height: auto;
    margin-bottom: 6rem;
}

table {
    border: 2px solid var(--hard-color)!important;
}

.tr-header {
    background-color: var(--hard-color);
    color: var(--soft-color);
}

tr,
th,
td {
    border: 1px solid var(--hard-color)!important;
    padding: 8px;
}

th[colspan="3"] {
    font-size: 1.2rem;
}

th:not(th[colspan="3"]) {
    font-weight: 600;
    text-align: center;
}

.figure-detail {
    height: 300px;
    background-image: url(./assets/Costume_Party.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--shadow-gral);
}

/*BOTÓN UP*/
#up{
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 5rem;
    right: 0.5rem;
    /* z-index: 7; */
}

#up>img{
    width: 50px;
    position: fixed;
    bottom: 5rem;
    right: 0.5rem;
    /* z-index: 8; */
    border-radius: 50%;
    border: 2px solid var(--soft-color)
}

/* Media Queries */

@media screen and (min-width:550px) and (orientation: landscape){

    .categories {
        align-items: center;
    }

    .checkboxes {
        flex-direction: row !important;
        max-width: 80%;
    }

    .contact-form {
        width: 50% !important;
        max-width: 500px;
    }

    .tarjeta {
        width: 70% !important;
        max-width: 600px;
        background-color: var(--soft-color);
        box-shadow: var(--shadow-gral);
        /* border: 1px solid var(--hard-color); */
        height: 100%;
    }

    .figure-detail {
        box-shadow: none;
    }

    .figure-detail,
    .text-detail {
        width: 45% !important;
        margin: 1rem auto !important;
    }
}

@media screen and (max-width:725px) and (orientation: landscape){
    footer:not(.footer) {
        position: static;
    }
}

@media screen and (min-width:725px){
    .categories {
        flex-direction: row !important;
    }

    .checkboxes {
        width: 70% !important;
        margin: 1rem auto;
    }

    form{
        width: 25%;
    }
}

@media screen and (min-width:992px) {

    header,
    .main-title-section,
    footer {
        height: var(--height-extreme-components-big);
    }

    h3 {
        font-size: 1.5rem;
    }

    nav li {
        width: 100px;
        height: 50px;
        display: flex !important;
        justify-content: center;
        text-align: center;
        background-color: var(--hard-color) !important;
        border-radius: 5px;
    }

    nav li a {
        display: flex !important;
        justify-content: center;
        align-items: center;
        color: var(--soft-color) !important;

    }

    .button-card-group {
        flex-direction: row !important;
        justify-content: space-between;
    }

    .content-card-group {
        height: calc(20vw*1.5);
    }

    table {
        width: 80%;
    }
}

